*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

/*HEADER*/

header{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 80px;
}

.container-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.options-top{
  background-color: rgb(68, 68, 68);
  border: none;
  border-radius: 4px;
  padding: 5px 5px;
}

.options-top:active {
  background-color: grey;
}
button:hover{
  cursor: pointer;
  
}

/*MAIN*/

main{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: calc(100vh - 160px);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.container-foto{
  width: 250px;
  height: 150px;
  position: relative;
  margin-bottom: 10px;
}

img{
  width: 250px;
  height: 150px;
}

.nome{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.699);
  padding: 3px 3px;
}

/*FOOTER*/

footer{
  background-color: rgb(33, 33, 33);
  width: 100vw;
  height: 80px;
  display: flex;
}

.bottom-l{
  height: 80px;
  display: flex;
  align-items: center;
  width: calc(100vw / 3);
  padding-left: 10px;
}

i:not(.tendina,.fa-microphone-slash,.fa-table-cells,.fa-maximize){
  font-size: 25px;
}

h2{
  font-size: 15px;
}

.mic{
  text-align: center;
}

.cam{
  text-align: center;
  padding-left: 20px;
}

.tendina{
  padding-left: 10px;
  font-size: 15px;
  padding-right: 10px;
}

.bottom-m{
  height: 80px;
  display: flex;
  width: calc(100vw / 3);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-m > *:not(:nth-child(5)){
  text-align: center;
}

.bottom-r{
  height: 80px;
  display: flex;
  width: calc(100vw / 3);
  justify-content: flex-end;
}

.end{
  background-color: rgb(70, 70, 70);
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  font-size: 15px;
  color: red;
}